/**************root*********************/
:root{
    --title-fs : 34px;
    --body-fs : 18px;
    --leads-fs : 20px;
    --sub-heading : 26px;
    --link-fs : 16px;
    --body-secondary-fs : 14px;

    --primary-color : #2F414F;
    --secondary-color : #3894A3;
    --third-color :   #C7DAD4;
    --text-color : #F1F1EF;
    --alert-color : #DD4238;
    --success-color : #3AA338;
    --input-color : #25323D;
    --black-color : #121414;

}

@font-face {
    font-family: "roboto-medium";
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: "roboto-regular";
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: "roboto-bold";
    src: url('../fonts/Roboto-Bold.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto-regular';
}

body{
    background-color: var(--primary-color);
    padding: 0 32px;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

.btn, .btn-outlined{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: var(--body);
    padding: 16px 32px;
    border: solid 1px var(--secondary-color);
    border-radius: 32px;
    font-family: 'roboto-medium';
    text-decoration: none;
}

.btn-outlined{
    background-color: transparent;
}

/**********header*******/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.logo{
    width: 110px;
    height: 47px;
}

/* .btn-login{
    font-size: var(--body-secondary-fs);
} */

.hero{
    display: flex;
    justify-content: space-between;
    margin-top: 128px;
}

.hero-left{
    display: flex;
    flex-direction: column;
    
    width: 704px;
}

.hero-text-container{
    margin-bottom: 48px;
}

.hero-title, .form-title{
    font-family: 'roboto-medium';
    letter-spacing:0.1em;
    font-size: var(--title-fs);
    color: var(--text-color);
    margin-bottom: 24px;
}

.hero-lead{
    font-family: 'roboto-regular';
    font-size: var(--leads-fs);
    color: var(--text-color);
}

.hero-btn-contrainer{
    display: flex;
    width: 100%;
    justify-content: start;
}

.hero-btn-contrainer .btn{
    margin-right: 40px;
}

.hero-image{
    width: 377px;
    height: 348px;
}

/***login & signup ***/
.fade-field{
    display: none;
    position: absolute;
    top :0;
    left:0;
    background-color: rgba(18, 20, 20, 0.5);
    width: 100%;
    height: 100vh;
}
.login-popup, .signup-popup{
    position: absolute;
    top:0;
    right: -524px;
    width: 512px;
    height: 100vh;
    padding: 32px;
    background-color: var(--input-color);
    background-image: url('../image/login-style.svg');
    background-repeat: no-repeat;
    background-size: 512px;
    border-radius: 32px 0 0 32px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
    /* transition: all 0.3s ease-out; */
}


.login-style{
    width: 512px;
}

.form-title{
    font-family: 'roboto-regular';
    font-size: var(--sub-heading);
    margin-top: 72px;
    text-align: center;
    margin-bottom: 128px;

}

.login-popup .input-group, .signup-popup .input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    row-gap: 24px;
    width: 384px;
    margin-bottom: 40px;
}

.input-group .input-item{
    display: flex;
    flex-direction: column;
    row-gap: 16px;

}

.form-input{
    outline: 0;
    background-color: transparent;
    border: solid 1px var(--text-color);
    border-radius: 32px;
    padding: 16px 32px;
    font-size: var(--body-fs);
    color: var(--text-color);
}

.form-input::placeholder{
    color: var(--text-color);
}

.link{
    font-size: var(--link-fs);
    color:var(--third-color);
    text-decoration: none;
    margin-left: 24px;
}

.btn-group{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 384px;
    row-gap: 16px;
}

.Or{
    color: var(--text-color);
    font-size: var(--body-fs);
    text-align: center;
}

/**************mainInterface *************/
.main-hero{
    margin: 72px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}

.prompt-example-container{
    display: flex;
    justify-content: center;
}

.prompt-example{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    column-gap: 8px;
    border: solid 1px var(--secondary-color);
    border-radius: 32px;
    padding: 16px 32px;
    margin-bottom: 16px;
    width: fit-content;
}

.prompt-example i{
    color: var(--secondary-color);
}

.user-input-container{
    display: flex;
    margin: 0 auto 72px auto;
    padding:8px;
    padding-left: 32px;
    background-color: var(--input-color);
    border-radius: 32px;
    width: 950px;
}
.user-input{
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size:var(--body-fs);
    color: var(--text-color);
}

.user-input-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: solid 1px var(--secondary-color);
    border-radius: 32px;
    width: 52px;
    height: 52px;
}

.user-input::placeholder{
    color: var(--text-color);
}

.customisation-card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.customisation-title{
    font-size: var(--sub-heading);
    color: var(--text-color);
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: 72px;
    margin-bottom: 40px;
}


.bot-customisation{
    margin: 72px auto;

}

.customisation-card{
    width: 287px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: solid 1px var(--text-color);
    border-radius: 32px;
    padding: 16px;
}

.customisation-icon{
    margin-bottom: 24px;
}

.customisation-icon i{
    font-size: 64px;
    color: var(--text-color);
}

.customisation-card-container .text-container{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    color: var(--text-color);
    margin-bottom: 56px;
}

/*****moving part*****/
.moving-part{
    position: fixed;
    top: 32px;
    left: 32px;
}
.user-item-container{
    position: relative;
    width:196px;
    height: 196px;
}
.user-abbreviation, .user-setting, .user-logout{
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--sub-heading);
    color: var(--text-color);
    background-color: var(--secondary-color);
    width: 52px;
    height: 52px;
    border-radius: 32px;
    box-shadow: 0 6px 24 rgba(0, 0, 0, 0.2);

}
.new-chat, .chat-history{
    display: none;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    width: max-content;
    box-shadow: 0 6px 24 rgba(0, 0, 0, 0.2);
}

.user-abbreviation{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-logout{
    display: none;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent;
    border: solid 1px var(--secondary-color);
}
.user-setting{
    display: none;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: transparent;
    border: solid 1px var(--secondary-color);
}

.user-item-icon{
    margin-right: 8px;
    transform: scale(1.4);
}

.new-chat {
    bottom: 0;
}

/*********ProblemSolver*************/

.btn-previous-container{
    position: absolute;
    top: 16px;
    left: 32px;
}
.btn-previous{
    color: var(--text-color);
    font-size: 24px;
}

.reply-container{
    width: 100%;
    height: 100vh;
    padding-bottom: 164px;
    overflow-y: scroll;
}

.reply-container::-webkit-scrollbar{
    width: 0;
}
.user-reply, .bot-reply{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    color: var(--text-color);
    margin-bottom: 16px;
    margin-top: 64px;
}

.user-reply-abbreviation, .bot-reply-abbreviation{
    background-color: var(--third-color);
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    border-radius: 32px;
    font-size: var(--leads-fs);
}

.user-text, .bot-text{
    margin-left: 64px;
    background-color: var(--input-color);
    width: fit-content;
    padding: 32px;
    border-radius: 0 64px 64px;
    max-width: 720px;
}

.bot-reply{
    align-items: flex-end;
    line-height: 150%;
    /* letter-spacing: 0.05em; */
}

.bot-text{
    margin-left: 0;
    margin-right: 128px;
    border-radius: 32px 0 32px 32px;
}

.text-down{
    margin-bottom: 8px;
}

.bottom-input{
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.bottom-moving-part{
    position: fixed;
    bottom: 32px;
}

.weather-card{
    margin-right: 128px;
    width: 287px;
    height: 287px;
    border: solid 1px var(--text-color);
    border-radius: 32px;
    padding: 16px;
}

.country-name{
    font-size: var(--leads-fs);
    margin-bottom: 16px;
}

.climat{
    margin-bottom: 16px;
    font-size: var(--sub-heading);
}

.climat i{
    font-size: 64px;
}

.temperature, .humidity{
    margin-bottom: 16px;
    font-size: var(--body-fs);
}

/***setting popup********/
.popup-bg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
}
.setting-popup, .history-popup{
    /* display: flex; */
    display: none;
    flex-direction: column;
    row-gap: 32px;
    padding: 24px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 918px;
    height: 602px;
    border-radius: 32px;
    background-color: var(--input-color);
}

.setting-header, .history-header{
    display: flex;
    justify-content: space-between;
}

.setting-header-text, .history-header-text{
    font-size: var(--sub-heading);
    color: var(--text-color);
    letter-spacing: 0.05em;

}
.setting-header i, .history-header i{
    font-size: 24px;
    color: var(--text-color);
    cursor: pointer;
}

.setting-body, .history-body{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.setting-title, .history-title{
    border-radius: 32px;
    color: var(--text-color);
    text-align: center;
    margin:0 auto;
    margin-bottom: 24px;
    font-size: var(--body-fs);
    letter-spacing: 0.05em;
    padding: 8px 16px;
    background-color: var(--secondary-color);
    width: fit-content;
}

.setting-input-group{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 24px;
}

.setting-input-group input{
    width: 321px;
    padding: 16px 32px;
    color: var(--text-color);
    background-color: transparent;
    border: solid 1px var(--text-color);
    border-radius: 32px;
    outline:0;
    font-size: var(--body-fs);
}

.setting-input-group input::placeholder{
    color: var(--text-color);
}

.setting-btn-profile, .btn-clear-history{
    cursor: pointer ;
    display: flex;
    column-gap: 8px;
    justify-content: center;
    background-color: var(--success-color);
    color: var(--text-color);
    padding: 16px 32px;
    border-radius: 32px;
    font-size: var(--body-fs);
    border: solid 1px var(--success-color);
    margin: 0 auto;
    margin-bottom: 24px;

}

.setting-body-other hr{
    margin-bottom: 24px;
}

.clear-history, .dark-mode{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}


.clear-history-text, .dark-mode-text{
    color:var(--text-color);
    font-size: var(--body-fs);
}

.btn-clear-history{
    margin: 0;
    background-color: var(--alert-color);
    border-color: var(--alert-color);
}


#darkMode {
  display: none;
}

.dark-mode-label{
    cursor: pointer;
    color: var(--text-color);
    font-size: 24px;
}
  
.history-popup{
    width: 490px;
}

.history-date-content{
    background-color: transparent;
    color: var(--text-color);
    font-size: var(--body-fs);
    border: solid 1px var(--secondary-color);
    border-radius: 32px;
    padding: 16px 32px;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 16px;
}




/**********media query**********/

@media screen and (max-width : 1366px) {
    .signup-popup, .fade-field{
        height: 110vh;

    }

    .bottom-moving-part{
        bottom: 128px;
    }
}